{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'misterBin/css/main.css' %}">
    <link rel="shortcut icon" href="{% static 'misterBin/img/logo.png' %}">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Mister Bin - Site Web</title>
</head>

<body>
    <header class="main-head">
        <nav>
            <h1 id="logo">Mister Bin</h1>
            <ul>
                <li><a href="{% url 'reconnaissanceDechet' %}">Traiter une image</a></li>
                <li><a href="{% url 'map' %}">Visualiser la carte</a></li>
                <li><a href="{% url 'ajoutPointMap' %}">Ajouter un lieu</a></li>
            </ul>
        </nav>
    </header>

    <div class="menu">                   
        <img src="reconnaissanceDechet/Predict/trans.jpeg" alt="">
        <!-- <img src="{{ image }}" alt=""> -->

        <p>{{ confiance }}</p>
    
        <p>{{ matter }}</p>
    </div>

    <footer>
        <div class="footer-content">
            <h3>Mister Bin</h3>
            <h4>L'assistant au quotidien pour le tri des déchets</h4>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy; 2023 - Mister Bin. designed by Les Déchets</p>
        </div>
    </footer>
</body>
</html>